.rightDiv .likeDislike,.moveLeft .likeDislike {
  margin-left: 105px;
  display: block;
  margin-top: -15px;
}
.rightDiv .likeDislike .glyphicon,.moveLeft .likeDislike .glyphicon{
  font-size:16px;
}
